.img-inicio-zapatos{
    background-image: url("../imagenes/header-inicio.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}